.choose { 
	background: url('../images/choose.jpg') no-repeat top center;
	background-size: cover;

	&__text {
		padding: 0;

	}

	&__title { 
		font: 36px/1.4 $aleo;
		padding-bottom: 60px;
	}

	&__desc1 { 
		font: 16px/1.6 $josefin;
		letter-spacing: 1px;
		padding-bottom: 40px;
	}

	&__desc2 { 
		font: 16px/1.6 $josefin;
		letter-spacing: 1px;
		padding-bottom: 50px;
	}


	  &__pictures { 
	   }

	   &__img1 { 
	   	padding-left: 60px;
	    }
	     &__img2 { 
	     	padding-left: 190px;
	    }




}

.container--choose { 
	padding-top: 120px;
	padding-bottom: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}